@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* colour scheme
562c2c - espresso
f2542d - fiery terracotta
f5dfbb - wheat
0E9594 - dark cyan
127475 - stormy teal */
